<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-17T00:30:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/andyreagan/projects/2026/healify/Healify.xcodeproj</string>
</dict>
</plist>
